/* Code By Webdevtrick ( https://webdevtrick.com )*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100);
body {
  background-color: lightgray;
}
.captchaField { 
  margin: 0 auto;
  margin-top: 15%;
  border: 1px solid #ccc; 
  padding: 15px;
  width: 345px;
  background-color: #fff;
  border-radius: 5px;
}
.CaptchaWrap { position: relative; }
.CaptchaTxtField { 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  display: block;  
  box-sizing: border-box;
}
#UserCaptchaCode { 
  padding: 15px 10px; 
  outline: none; 
  font-size: 18px; 
  font-weight: normal; 
  font-family: 'Georgia', Times New Roman, sans-serif;
  width: 343px;
}
#CaptchaImageCode { 
  text-align:center;
  margin-top: 15px;
  padding: 0px 0;
  width: 300px;
  overflow: hidden;
}
.capcode { 
  font-size: 46px; 
  display: block; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
  cursor: default;
  letter-spacing: 1px;
  color: #ccc;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-style: italic;
}
.ReloadBtn { 
 
  border-style: none;
	border-color: inherit;
	border-width: 0px;
	background: url('Wedges-3s-34px.svg') no-repeat left top;
	background-size : 100%;
    width: 32px; 
    height: 32px;
    outline none;
    position: absolute; 
    bottom: 30px;
    left: 310px;
    outline: none;
    cursor: pointer;
   visibility:visible;
}
.TFBtn { 
  background:url('') left top no-repeat;
  background-size : 100%;
  width: 32px; 
  height: 32px;
  border: 0px; outline none;
  position: absolute; 
  bottom: 30px;
  left: 310px;
  outline: none;
}

.btnSubmit {
  margin-top: 15px;
  border: 0px;
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 18px;
  background-color: #1285c4;
  color: #fff;
  cursor: pointer;
  display:block;
}
#subm1{
background:#1285c4;
color:white;
border: 1px;
border-radius: 5px;
padding: 2px 5px;
margin-top: 9px;
/*visibility:hidden;


	display:none;*/
}*/

.error {
  color: red; 
  font-size: 15px; 
  display:none; 
}
.success {
   color: green;
  font-size: 18px;
  margin-bottom: 15px;
  display: none;
}